<style>
</style>

<div class="content" role="main">
  <div class="container">
    <br/>
    <div class="container-fluid">
      <button 
        type="button" 
        class="btn btn-primary"
        (click) = "mostrarFormulario()">{{buttonText}}</button>
      <br/><br/>
      <div *ngIf="formulario">
        <app-formulario-clientes></app-formulario-clientes>
      </div>
    </div>
    <br/><br/>
    <div class="container-fluid">
      <app-listar-clientes></app-listar-clientes>
    </div>
  </div>
</div>
<router-outlet></router-outlet>